<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <img src="img/mobile_menu.png"/>
    </button>
    <a href="#" class="nav-header-mobile-logo"></a>
    <a id="btn_nav_order_wrap_mo" class="nav-header-btn-mobile-order btn" >ORDER</a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="navbar-brand pull-left"><a href="#"></a></li>
      <li class="pull-cent main-nav-menu" ><a href="#menu">MENU</a></li>
      <li class="pull-cent main-nav-ourstory" ><a href="#ourstory">OUR STORY</a></li>
      <li class="pull-cent main-nav-store"><a id="navbar_store" href="#store">STORE</a></li>
      <li class="pull-right" id="btn_nav_order_wrap"><a id="btn_nav_order" class="navbar-gray"></a></li>
      <li class="pull-right"><a id="btn_nav_logout" class="navbar-gray">로그아웃</a></li>
      <li class="pull-right"><a id="btn_nav_mypage" class="navbar-gray" data-toggle="modal" data-target="#myPageModal" >MyPage</a></li>
      <li class="pull-right"><a id="btn_nav_join" class="navbar-gray" data-toggle="modal" data-target="#joinModal" >회원가입</a></li>
      <li class="pull-right"><a id="btn_nav_login" class="navbar-gray" data-toggle="modal" data-target="#loginModal" >로그인</a></li>
    </ul>
  </div>
</div>
