<div id="guestOderLoginModal" class="modal fade">
    <div class="modal-dialog modal-lg saladgram-modal-dialog saladgram-modal-dialog-lg">
    <div class="modal-content">
        <div class="modal-header diaolog-lg-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img src="img/btn_close_bottom_pop.png"></button>
            <h4 class="modal-title">비회원 주문<h4>
        </div>
        <div class="modal-body">
            <div>
                <input id="input_guest_phone" type="number" name="phone" value="" placeholder="휴대폰번호">
                <button id="btn_send_guest_auth_num" class="btn btn-defalut btn-primary btn-saladgram btn-saladgram-join" id="btn_send_auth_num" type="button" >인증번호 발송</button>
            </div>
            <div>
                <input id="input_guest_phone_auth" type="text" name="phone_auth" value="" placeholder="인증번호">
                <button id="btn_phone_guest_auth" type="button" class="btn btn-defalut btn-primary btn-saladgram btn-saladgram-join">인증번호 승인</button>
            </div>
            <div>
                <div class="select-wrap">
                <select class="form-control saladgram-select-tag" id="input_guest_addr_sel" name="addr_sel">
                    <option value="0" data-hidden="true">건물을선택하세요</option>
                        <option value="1">현대지식산업센터I</option>
                        <option value="2">대명벨리온</option>
                        <option value="3">대명타워</option>
                        <option value="4">파트너스1</option>
                        <option value="5">파트너스2</option>
                        <option value="6">유탑테크밸리</option>
                        <option value="7">문정법조프라자</option>
                        <option value="8">화엄타워</option>
                        <option value="9">가든파이브 웍스</option>
                        <option value="10">가든파이브 툴관</option>
                        <option value="11">가든파이브</option>
                        <option value="12">송파한화오벨리스크</option>
                        <option value="13">송파푸르지오시티</option>
                        <option value="14">송파아이파크</option>
                        <option value="15">래미안갤러리</option>
                        <option value="16">KD U-타워</option>
                        <option value="17">문정 AJ 렌터카</option>
                </select>
                </div>
                <input id="input_guest_addr" type="text" name="addr" value="" placeholder="나머지 주소">
            </div>
            <div class="saladgram-check-box-wrap">
                <input id="input_guest_checkbox_privacy" class="checkbox-input" type="checkbox" value="">
                <label class="checkbox-label">개인정보 제공동의</label>
                <span><a class="btn btn-link btn-show-privacy-usage" ><img src="img/btn_show_detail.png"></a></span>
            </div>
        </div>
        <div class="modal-footer">
            <button id="btn_guest_order" type="button" class="btn btn-defalut btn-primary saladgram-btn-primary" >주문하기</button>
        </div>
    </div>
    </div>  
</div> 
