<div id="loginModal" class="modal fade">
    <div class="modal-dialog modal-sm saladgram-modal-dialog saladgram-modal-dialog-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img src="img/btn_close_bottom_pop.png"></button>
            </div>
            <div class="modal-body">
                <div>
                    <input id="input_login_id" type="text" name="id" value="" placeholder="ID">
                </div>
                <div>
                    <input id="input_login_pw" type="password" name="password" value="" placeholder="PASSWORD">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-defalut btn-primary saladgram-btn-primary" id="btn_login" type="button">로그인</button>
                <a id="btn_find_id_pwd"><button class="btn-link btn-saladgram-link">ID/PASSWORD <span> 찾기</span></button></a>
            </div>
        </div>
    </div>
</div>
