<div class="container final-order-page-full-wrap">
	<div class ="order-step-pager"><img src="img/order_pager_4.png"></div>
	<div class="container">
		<div class="col-xs-12 " id="final_order_info_header">
			<a class="col-xs-12 btn btn-link btn-saladgram-link btn-back-step btn-change-step-time">
				변경하기
			</a>
			<div class="col-xs-12 time-info-wrap">
			<% if(order_type === 1){%>
				<p class="col-xs-12 col-sm-2 order-label">픽업예정시간</p>
			<% }else if(order_type === 2){%>
				<p class="col-xs-12 col-sm-2 order-label">배송예정시간</p>
			<% }%>
				<p class="col-xs-12 col-sm-10 order-info"><%= time_text %></p>
			</div>
			<div class="col-xs-12 addr-info-wrap">
			<% if(order_type === 2){%>
				<p class="col-xs-12 col-sm-2 order-label">배송예정지</p>
				<p class="col-xs-12 col-sm-10 order-info addr-display"><%= addr_text %></p>
			<% }%>
			</div>
		</div>
		<div class="col-xs-12 " id="final_order_info_body">
			<h3 class="col-xs-12 body-title">주문내역확인
				<a class="col-xs-12 btn btn-link btn-saladgram-link btn-back-step btn-change-step-order" >
					주문변경하기
				</a>
			</h3>
			<div class="list-group nav nav-list">
				<% _.each(order_list, function(odl) { %>
				<div class="col-xs-12 list-group-item">
					<p class="col-xs-2 col-sm-2 final-item-img" style="background-image:url('https://<%= odl.get('image') %>')"></p>
					<p class="col-xs-4 col-sm-4 text-container final-item-name" ><%= odl.get('name') %></p>
					<p class="col-xs-1 col-sm-2 text-container final-item-quantity"><%= odl.get('quantity') %></p>
					<p class="col-xs-5 col-sm-4 text-container item-cal-price">
						<span class="item-cal"><%= odl.get('calorie') %></span>kcal / 
						<span class="item-price"><%= odl.get('price') %></span>원
					</p>
				</div>
				<% }); %>
			</div>
			<div class="col-xs-12 final-order-price-info-wrap">
				<div class="col-xs-12 discount-wrap">
					<p class="col-xs-12 ">총 <span><%= gross_price %></span>원</p>
					<p class="col-xs-12 ">할인(<span><%= discount %></span>%)<span><%= discount_price %></span>원</p>
				</div>
				<div class="col-xs-12 point-wrap">
					<p class="col-xs-12 ">100원 미만 절삭 할인 후 금액<span><%= discount_cut_price  %></span>원</p>
					<p class="col-xs-12 ">사용가능 적립금
						<span id="order_my_point"><%= my_point %></span>
						적립금 사용 | <span class="use-reward-input-wrap"><input id="input_user_my_point" type="number" value="0">원</span>
					</p>
				</div>
				<div class="col-xs-12 final-price ">
					최종결제금액 <span><%= final_payment_price %></span>원
				</div>
			</div>
		</div>
		<div class="col-xs-12 " id="final_order_info_footer">
			<div class="col-xs-12">
				<div class="col-xs-6 online-pay-wrap">
					<button id="check_order_type_online" class="btn col-xs-12 btn-default btn-xs btn-pay-type active">온라인 결제</button>
				</div>
				<div class="col-xs-6 offline-pay-wrap">
					<button id="check_order_type_offline" class="btn col-xs-12 btn-default btn-xs btn-pay-type">현장(배달원)에서 직접 결제</button>
				</div>
			</div>
			<div class="col-xs-12 do-order-wrap">
				<button id="btn_do_order" type="button" class="btn col-xs-12 btn-primary btn-xs">주문하기</button>
			</div>
		</div>
	</div>
</div>